*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
    color: #fff;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background: #146481;
}
.box{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.box .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(#053a4d,#129acc);
    left: -50px;
    top: -50px
}

.shape:last-child{
    background: linear-gradient(to right, #fff,#494242);
    right: -30px;
    bottom: -50px;
}
form{
    height: 500px;
    width: 350px;
    background: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
form h2{
    text-align: center;
    font-size: 2em;
}
form p{
    margin: 10px;
    text-align: center;
}
.form-group{
    margin-top: 50px;
}
form input{
    display: block;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 30px;
    width: 100%;
    background: cyan;
    color: #146481;
    padding: 15px 0;
    font-size: 18px 0;
    font-weight: 600;
    border-radius: 5px;
}
.social{
    margin-top: 20px;
    display: flex;
}
.social div{
    background: rgba(255, 255, 255, 0.27);
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    color: #eaf0fb;
    text-align: center;
}
.social div:hover{
    background: rgba(255, 255, 255, 0.47);
}
.links{
    margin-top: px;
    display: flex;
}
.links div{
    /* background: rgba(255, 255, 255, 0.27); */
    /* width: 190px; */
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    color: #eaf0fb;
    text-align: center;
}
